<div class="user-details">
  <h1> Talks & Presentations </h1>
</div>

<div class="talks-container">
  <ul class="talks-list">
    <li>
      <span class="talk-event">1-3 Sep 2026, Mathematical Foundations of AI: The Erlangen Hub Conference</span>
      <span class="talk-title">Poster — "Understanding and inverse design of implicit bias in stochastic learning: a geometric perspective"</span>
      <span class="talk-location">University of Oxford, Oxford, United Kingdom.</span>
      <span class="talk-links">
        <a href="https://erlangenhub.ox.ac.uk/event/the-erlangen-hub-conference-2026/" target="_blank">link</a>
      </span>
    </li>
    
    <li>
      <span class="talk-event">17 June 2026, ICTP-INdAM-SLMath Summer Graduate School for Machine Learning</span>
      <span class="talk-title">Poster — "Implicit bias in overparameterized models as a gauge correction."</span>
      <span class="talk-location">International Center for Theoretical Physics (ICTP), Trieste, Italy.</span>
      <span class="talk-links">
        <a href="https://indico.ictp.it/event/11148" target="_blank">link</a>
      </span>
    </li>
    
    <li>
      <span class="talk-event">25 Feb 2026, IX International Workshop on Information Geometry, Quantum Mechanics and Applications</span>
      <span class="talk-title">Invited talk — "Implicit bias in overparameterized models as a gauge correction."</span>
      <span class="talk-location">Institute of Mathematical Sciences (ICMAT), Madrid, Spain.</span>
      <span class="talk-links">
        <a href="http://www.q-math.es/conferences/IGQMA2026/" target="_blank">link</a>
        <a href="https://drive.google.com/file/d/1pGGccxuXEj0VS_clxhZikJzEhM72F43w/view?usp=sharing" target="_blank">slides</a>
      </span>
    </li>
    
    <li>
      <span class="talk-event">10-18 Jul 2025, Advanced School on Foundation Models for Scientific Discovery</span>
      <span class="talk-location">International Center for Theoretical Physics (ICTP), Trieste, Italy.</span>
      <span class="talk-links">
        <a href="https://indico.ictp.it/event/10853" target="_blank">link</a>
      </span>
    </li>
  </ul>
</div>
